<header class="header mb-3">
  <HeaderTopComp></HeaderTopComp>
  <div class="container">
    <div class="row align-items-center">
      <!-- Logo and Sidenav Toggle Button -->
      <div class="logo col-12 col-lg-3 d-flex justify-content-center">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/1200px-Google_2015_logo.svg.png"
          alt="Logo">
        <!-- Bootstrap Toggle Button for Mobile -->
        <button class="navbar-toggler px-3 fs-3 d-block d-lg-none" type="button" aria-label="Toggle sidenav">
          <i class="fa-solid fa-bars px-2"></i>
        </button>
      </div>
      <!-- Search Bar (Visible on Large Screens) -->
      <div class="search-container col-12 col-lg-7 d-none d-lg-flex">
        <input type="text" class="search-input" placeholder="Search products...">
        <button class="btn rounded-0">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
      <!-- Cart and Other Icons (Visible on Large Screens) -->
      <div class="cart-icon col-12 col-lg-2 d-none d-lg-flex justify-content-start">
        <span matBadge="15" matBadgeColor="primary" class="custom-badge" class="fs-4 px-1">          
          <img src="assets/images/icon/shopping-bag.png" alt="Compare Icon" style="width: 32px; height: 32px;"  [matMenuTriggerFor]="menu">         
        </span>
        <mat-menu #menu="matMenu">
          <div class="cart-popup">
            <div class="cart-item d-flex justify-content-center px-1 mx-1 pt-1 mt-1 border-bottom">
              <div class="product-image p-1">
                <img src="https://via.placeholder.com/100" alt="Product Image">
              </div>
              <div class="cart-item-text p-1">
                <p class="p-0">Items dfdssd ffsdf sd sdf sdf Name</p>
                <p class="p-0"> 1 x $299.00 </p>
              </div>
              <div class="p-1">
                <i class="fa-regular fa-circle-xmark"></i>
              </div>
            </div>
            <div class="cart-item d-flex justify-content-center px-1 mx-1 pt-1 mt-1 border-bottom">
              <div class="product-image p-1">
                <img src="https://via.placeholder.com/100" alt="Product Image">
              </div>
              <div class="cart-item-text p-1">
                <p class="p-0">Itemss dfdssd ffsdf sd sdf sdf Name</p>
                <p class="p-0"> 1 x $299.00 </p>
              </div>
              <div class="p-1">
                <i class="fa-regular fa-circle-xmark"></i>
              </div>
            </div>
            <div class="cart-item d-flex justify-content-center px-1 mx-1 pt-1 mt-1 border-bottom">
              <div class="product-image p-1">
                <img src="https://via.placeholder.com/100" alt="Product Image">
              </div>
              <div class="cart-item-text p-1">
                <p class="p-0">Itemss dfdssd ffsdf sd sdf sdf Name</p>
                <p class="p-0"> 1 x $299.00 </p>
              </div>
              <div class="p-1">
                <i class="fa-regular fa-circle-xmark"></i>
              </div>
            </div>
            <div class="cart-item d-flex justify-content-center px-1 mx-1 pt-1 mt-1 border-bottom">
              <div class="product-image p-1">
                <img src="https://via.placeholder.com/100" alt="Product Image">
              </div>
              <div class="cart-item-text p-1">
                <p class="p-0">Itemss dfdssd ffsdf sd sdf sdf Name</p>
                <p class="p-0"> 1 x $299.00 </p>
              </div>
              <div class="p-1">
                <i class="fa-regular fa-circle-xmark"></i>
              </div>
            </div>
            <p class="cart-subtotal text-center pt-2"><strong>Subtotal:</strong> $299.00</p>
            <div class="cart-buttons d-flex justify-content-center">
              <button class="btn btn-primary rounded-0 m-1">View Cart</button>
              <button class="btn btn-success rounded-0 m-1">Checkout</button>
            </div>
          </div>
        </mat-menu>
        <span matBadge="15" matBadgeColor="primary" class="custom-badge" class="fs-4 px-1">
          <!-- <i class="fa-solid fa-code-compare text-primary"></i> -->
          <img src="assets/images/icon/heart.png" alt="Heart Icon" style="width: 30px; height: 30px;">
        </span>
        <span matBadge="15" matBadgeColor="primary" class="custom-badge" class="fs-4 px-1">
          <img src="assets/images/icon/refresh.png" alt="Compare Icon" style="width: 26px; height: 26px;">
        </span>
        <span class="fs-4 px-1 d-flex d-lg-none">
          <i class="fa-solid fa-magnifying-glass text-primary"></i>
        </span>
      </div>
    </div>
  </div>
  <MenuComp></MenuComp>
</header>