.container {
  padding: 15px 20px;
}

.top-bar {
  background-color: rgb(29, 29, 29);
  color: #fff;
  font-size: 14px;
}

.top-bar a {
  color: #fff;
  text-decoration: none;
}

.custom-menu-login {
  width: 300px;
  padding: 0px;
  margin: 0px;
  background: rgb(247, 247, 247);
}