<footer class="footer">
  <div class="container">
    <div class="row footer-top pt-3">
      <div class="col-12 col-lg-4 text-center text-lg-start footer-section">
        <div class="logo-footer">
          <img style="width: 90%; height: 100px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/1200px-Google_2015_logo.svg.png" alt="Logo">
        </div>
        <div class="footer-about pt-2 mt-2">
          <p class="lh-lg">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
          </p>
          <p class="lh-lg">
            <span><i class="fa-solid fa-location-dot mx-1"></i></span> Multikart Demo Store, Demo store India 345-659
          </p>
          <p class="lh-lg">
            <span><i class="fa-solid fa-phone mx-1"></i></span> Call Us: 123-456-7898
          </p>
          <p class="lh-lg">
            <span><i class="fa-solid fa-envelope mx-1"></i></span> Email Us: SupportMultikart.com
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-2 p-2 text-center text-lg-start">
        <h5 class="fw-bold text-white">MY ACCOUNT</h5>
        <ul class=" mt-3">
          <li class="py-2"><a class="trans" href="#">Mens</a></li>
          <li class="py-2"><a class="trans" href="#">Womens</a></li>
          <li class="py-2"><a class="trans" href="#">Clothing</a></li>
          <li class="py-2"><a class="trans" href="#">Accessories</a></li>
          <li class="py-2"><a class="trans" href="#">Featured</a></li>
        </ul>
      </div>
      <div class="col-12 col-lg-2 py-2 text-center text-lg-start">
        <h5 class="fw-bold text-white">INFORMATION</h5>
        <ul class="mt-3 mx-auto">
            <li class="py-2"><a class="trans" href="#">Shipping & Return</a></li>
            <li class="py-2"><a class="trans" href="#">Secure Shopping</a></li>
            <li class="py-2"><a class="trans" href="#">Gallery</a></li>
            <li class="py-2"><a class="trans" href="#">Affiliates</a></li>
            <li class="py-2"><a class="trans" href="#">Contacts</a></li>
        </ul>
      </div>
      <div class="col-12 col-lg-4 p-2 text-center text-lg-start">
        <h5 class="fw-bold text-white">FOLLOW US</h5>
        <p class="mt-3 lh-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
        <form class="d-flex">
            <input type="email" class="form-control" placeholder="Enter Your Email">
            <button class="btn btn-primary">SUBSCRIBE</button>
        </form>
        <div class="social-icons mt-4 d-flex justify-content-center justify-content-lg-start">
            <a href="#"><i class="fa-brands fa-facebook p-1 fs-5"></i></a>
            <a href="#"><i class="fa-brands fa-youtube p-1 fs-5"></i></a>
            <a href="#"><i class="fa-brands fa-twitter p-1 fs-5"></i></a>
            <a href="#"><i class="fa-brands fa-instagram p-1 fs-5"></i></a>
            <a href="#"><i class="fa-brands fa-google p-1 fs-5"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center footer-bottom">
        <p class="mt-2">2024 Powered By: Craft Coders Lab </p>
      </div>
    </div>
  </div>
  <nav class="mobile-nav">
    <a href="#" class="bloc-icon">
      <i class="fa-solid fa-cart-shopping"></i>
    </a>
    <a href="#" class="bloc-icon">
      <i class="fa-solid fa-code-compare"></i>
    </a>
    <a href="#" class="bloc-icon">
      <i class="fa-solid fa-heart"></i>
    </a>
    <a href="#" class="bloc-icon">
      <i class="fa-solid fa-magnifying-glass"></i>
    </a>
    <a href="#" class="bloc-icon">
      <i class="fa-solid fa-user"></i>
    </a>
  </nav>
</footer>
