.menu-bar {
  background-color: rgb(51, 45, 45);
  color: #fff;
  font-size: 14px;
}


.shop-by-category-button {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 290px;
}


a.nav-link
{
  color: #e1e1e1;
}

a.nav-link:hover {
  color: #d1c9c9;
}
